[package]
name = "obenchmark_pro"
version = "0.2.0"
edition = "2021"

[dependencies]
anyhow = "1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
sysinfo = "0.30"
num_cpus = "1"
eframe = "0.27"
egui = "0.27"